/*========================reponsite===============================================================================*/
 .desktop-showhide
 {
     display: block !important;
 }
 .mobile-showhide
 {
     display: none !important;
 }
 /* Large desktop */
@media (min-width: 1200px)
{
    .main-1024
    {
        padding: 0;
        width: 1024px;
    }
    .pager-box
    {
        width: 1065px;
    }
    .main-980
    {
        padding-left: 0;
        padding-right: 0;
        width: 980px;
    }
    .head-menu .control-tabs
    {
        padding: 0 45px;
    }
    .wrap-contact .main-980
    {
        padding: 0;
    }
    .ser-box .description
    {
        min-height: 160px;
    }
}

@media (min-width: 1025px)
{
    .detail-order  .bx-controls-direction a
    {
        display: none;
    }
    .detail-order:hover  .bx-controls-direction a
    {
        display: block;
    }
}
@media (min-width: 981px) and (max-width: 1199px)
{
    #sologan
    {
        width: 45%;
    }
    .form-search .search-lb
    {
        width: 18.5%;
    }
    .form-search .select-box
    {
        width: 24.7%;
    }
    .ser-box .ser-img
    {
        position: relative;
        padding-top: 10px;
        width: 100%;
    }
    .ser-box .ser-img img
    {
        max-height: 170px;
    }
    .ser-box .ser-content 
    {
        padding: 15px;
    }
    .ser-box .description
    {
        padding: 0;
    }
    .product-bottom a
    {
        width: 90px;
    }
    .wrap-detail
    {
        width: 72%;
    }
    .wrap-detail .detail-images
    {
        width: 50%;
    }
    .cart-left
    {
        width: 62%;
    }
    .cart-right .form-input .form-lb
    {
        font-size: 12px;
        width: 115px;
    }
}
@media (min-width: 768px) and (max-width: 1199px)
{
    .col-product .box-in
    {
        padding: 10px;
    }
    .wrap-news
    {
        padding: 0 20px;
        width: 100%;
    }
    .tabs-wrap .tabs-content
    {
        min-height: 500px;
    }
}
@media (min-width: 980px)
{
    .main-835
    {
        padding-left: 0;
        padding-right: 0;
        width: 835px;
    }
}
@media (max-width: 980px)
{
    .wrap-email
    {
        float: none;
        width: 100%;
    }
    #footer .col-box
    {
        width: 33.333%;
    }
    .footer-list h3
    {
        max-width: 100%;
    }
    .content-tabs .news-slider
    {
        padding: 0;
    }
    .control-tabs li a
    {
        padding: 0 16px;
    }
    .ser-box .ser-img
    {
        position: relative;
        padding-top: 10px;
        width: 100%;
    }
    .ser-box .ser-img img
    {
        max-height: 170px;
    }
    .ser-box .ser-content
    {
        padding: 10px;
    }
    
    .ser-box .description
    {
        padding: 0;
    }
    .wrap-product .col-product
    {
        width: 50%;
    }
    .head .search
    {
        float: none;
        padding-bottom: 10px;
        width: 100%;
    }
    .head-top .pager-show
    {
        border-top: 1px solid #c3c3c3;
        padding-top: 10px;
        width: 100%;
    }
    .pager-show .pager-lb
    {
        font-size: 10px;
    }
    .pager-show .select-box
    {
        width: 60px;
    }
    .video-in
    {
        padding: 0 10px;
    }
    .main-835
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .wrap-form .form-right
    {
        padding-left: 40px;
    }
    .wrap-form .form-box
    {
        width: 55%;
    }
    /*===================*/
    .cart-left
    {
        float: none;
        width: 100%;
    }
    .cart-right
    {
        padding: 15px 0;
        margin: 0 auto;
        width: 420px;
    }
    
    #about-video.wrapper-video .col-box
    {
        width: 33.333%;
    }
}
@media (min-width: 768px)
{

}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 980px)
{ 
    #sologan
    {
        width: 45%;
    }
    .languge .link-back
    {
        display: none;
    }
    .form-search .search-lb
    {
        width: 18.5%;
    }
    .form-search .select-box
    {
        width: 24.7%;
    }
    .form-search .search-lb
    {
        font-size: 22px;
    }
    #colAside
    {
        width: 240px;
    }
    .lits-menu > li > a
    {
        padding: 6px 20px 6px 12px;
    }
    .lits-menu > li > a > .icon
    {
        right: 5px;
    }
    .lits-menu a > .icon
    {
        right: 8px;
    }
    .lits-menu > li > ul > li > a
    {
        padding: 6px 15px 6px 22px;
    }
    .wrap-about #colMain
    {
        padding-left: 20px;
    }
    .news-box .news-name a
    {
        font-size: 16px;
        line-height: 22px;
    }
    .wrap-detail
    {
        width: 70%;
    }
    .wrap-detail .detail-images
    {
        width: 50%;
    }
    .wrap-detail .detail-content, .detail-right
    {
        padding-left: 15px;
    }
    .detail-phone
    {
        padding: 10px;
    }
    .header-menu .link-a
    {
        padding: 0 12px;
    }
    .ser-box .ser-name strong
    {
        font-size: 20px;
    }
}
@media (min-width: 768px) and (max-width: 880px)
{ 
    #menu > li > a
    {
        padding: 0 10px;
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px)
{
     .desktop-showhide
     {
         display: none !important;
     }
     .mobile-showhide
     {
         display: block !important;
     }
     #mainContent
     {
         background-color: #fefefe;
     }
     #site
     {
         padding-left: 0;
         padding-right: 0;
     }
     #banner
     {
         margin-left: -15px;
         margin-right: -15px;
         margin-bottom: 15px;
         width: auto;
     }
     .news-out, .main-pro, .product-box .product-img
     {
         padding: 0;
     }
     .header-menu .link-menu
     {
         display: none;
     }
     #sologan
     {
         float: none;
         overflow: hidden;
         padding-left: 15px;
         width: auto;
     }
     #header .link-back
     {
         display: none;
     }
    .content-tabs .news-slider
    {
        padding: 0;
        margin-left: -22px;
        margin-right: -22px;
    }
     .form-search
     {
         padding: 15px;
     }
    .form-search .search-lb, .form-search .select-box, .form-search .wrap-btn
    {
        float: none;
        width: 100%;
    }
    #colMain, .wrap-about #colMain
    {
        padding: 0;
        width: 100%;
    }
    .form-search .wrap-btn .search-btn
    {
        margin: 0 auto;
    }
    .form-search .search-lb
    {
        text-align: left;
    }
    .form-search .select-box
    {
        padding: 3px 0;
    }
    #parners
    {
        padding: 0 15px;
    }
    .service-list
    {
        padding: 15px 0;
    }
    .wrap-text
    {
        padding: 10px 0;
    }
    .wrap-news
    {
        width: 100%;
    }
    .wrap-news .news-name a
    {
        font-size: 14px;
        line-height: 20px;
    }
    .wrap-news .news-img
    {
        float: none;
        width: 100%;
    }
    .wrap-news .news-content
    {
        padding: 10px 0 0;
        width: 100%;
    }
    /*=================*/
    .main-wrapper
    {
        padding: 0;
    }
    .main-form
    {
        background: #fefefe;
    }
    .wrap-form
    {
        padding: 0;
    }
    .wrap-form .form-input
    {
        padding: 2px 0;
    }
    .wrap-form .form-input .form-lb
    {
        float: none;
        line-height: 20px;
        width: 100%;
    }
    .wrap-form .form-btn
    {
        padding: 10px 0;
    }
    .wrap-form .form-right
    {
        padding-left: 20px;
        padding-top: 20px;
    }
    .wrap-detail, .detail-right
    {
        float: none;
        padding: 0;
        width: 100%;
    }
    .wrap-detail
    {
        padding-bottom: 20px;
    }
    .tabs-wrap .download-content
    {
        padding-top: 0;
    }
    .main-service
    {
        padding: 20px 0;
    }
    .wrap-contact .main-980
    {
        padding: 0;
    }
    .wrap-contact
    {
        padding: 25px 0;
    }
    #mapwrap
    {
        margin-left: -15px;
        margin-right: -15px;
        width: auto;
    }
    
    .head-v, #about-video.wrapper-video
    {
        padding: 0;
    }
    .htop
    {
        padding: 15px 0 0;
    }
}
@media (min-width: 480px) and (max-width: 767px)
{
    .wrap-news .col-box
    {
        width: 50%;
    }
    .detail-right .detail-order
    {
        border-bottom: none;
        border-right: solid 1px #d8d8d8;
        float: left;
        width: 45%;
    }
    .detail-right .detail-phone 
    {
        border-left: solid 1px #d8d8d8;
        float: left;
        margin-left: -1px;
        padding: 15px;
        width: 55%;
    }
     .product-bottom a
     {
         margin: 0 1px;
         width: 80px;
     }
}

@media (min-width: 320px) and (max-width: 480px)
{
}
@media (min-width: 640px) and (max-width: 767px)
{
    .ser-box .ser-name strong
    {
        font-size: 20px;
        line-height: 26px;
    }
    .head .search
    {
        border-bottom: solid 1px #c3c3c3;
        padding: 10px 0;
    }
    .wrap-detail .detail-images
    {
        width: 50%;
    }
    .wrap-detail .detail-content
    {
        padding-left: 15px;
    }
    
    .ser-box .ser-name strong
    {
        font-size: 16px;
    }
}
@media (max-width: 639px)
{
    #footer .col-box, .service-list .col-box
    {
        width: 50%;
    }
    .service-list
    {
        padding: 15px 0;
    }
    .head .search
    {
        border: solid 3px #c3c3c3;
        padding: 10px;
    }
    .search .select-box
    {
        float: none;
        padding-bottom: 4px;
        padding-right: 0;
        width: 100%;
    }
    .search .search-btn
    {
        background: #ed1f24;
        font-size: 12px;
        font-weight: 700;
        margin: 0 auto;
        width: 80px;
    }
    .form-box, .cart-right
    {
        float: none;
        width: 100%;
    }
    .form-input
    {
        padding: 2px 0;
    }
    .form-input .form-lb
    {
        float: none;
        line-height: 20px;
        width: 100%;
    }
    .form-input .form-btn
    {
        padding: 10px 0;
    }
    .wrap-form .form-box
    {
        width: 100%;
    }
    .wrap-form .form-right
    {
        padding: 15px 0 20px;
        width: 100%;
    }
     .news-out
     {
         padding: 0;
     }
     /*========================*/
     .tb-cart thead
     {
         display: none;
     }
     .tb-cart .show-mo
     {
         display: inline-block;
     }
     .tb-cart td
     {
         border-bottom: none;
         text-align: left;
         display: block !important;
         padding: 3px 10px;
         width: 100% !important;
     }
     .tb-cart .title-cart
     {
         display: block;
     }
     .tb-cart .pro-img
     {
         margin: 0 auto;
         width: 180px;
     }
     .tb-cart .pro-name a
     {
         text-align: center;
         padding: 5px 0 10px;
     }
     .tb-cart .number-box
     {
         width: 100%;
     }
     .tb-cart .number-box .input-text
     {
         display: inline-block;
         width: 60px;
     }
     .tb-cart td.col-1
     {
         padding: 0;
     }
     .tb-cart td.col-6
     {
        border-bottom: solid 1px #cfcfcf;
        text-align: right;
     }
    .tb-cart .price-total
    {
        padding: 5px 15px;
    }
    /*==========================*/
    
    .wrap-detail .detail-images
    {
        float: none;
        margin: 0 auto;
        overflow: hidden;
        width: 390px;
    }
    .wrap-detail .detail-content
    {
        padding: 0;
        width: 100%;
    }
     .send-mail .col-xs-2, .send-mail .col-xs-10
     {
         width: 100%;
     }
     .send-mail .control-label
     {
         line-height: 22px;
     }
     .send-mail .col-xs-offset-2
     {
         margin-left: 0;
     }
     #map .box h2
     {
         font-size: 16px;
         line-height: 20px;
         margin-bottom: 5px;
     }
    .map #map .box
    {
        width: 290px;
    }
    #about-video.wrapper-video .col-box
    {
        width: 50%;
    }
}
@media (max-width: 479px)
{ 
    #footer .col-box, .service-list .col-box
    {
        width: 100%;
    }
    #logo
    {
        float: none;
        margin: 0 auto;
    }
    #sologan
    {
        padding: 10px;
    }
    
}
@media (max-width: 420px)
{
    .wrap-detail .detail-images, .wrap-product .col-product,
    #about-video.wrapper-video .col-box
    {
        width: 100%;
    }
}
@media (max-width: 359px)
{
    .video-in
    {
        padding: 0;
    }
    .map #map .box
    {
        width: 220px;
    }
}
@media (min-width: 321px) and (max-width: 480px)
{
}
@media (max-width: 319px)
{
}