/****** Object:  ForeignKey [FK_Career_CareerCategory]    Script Date: 03/05/2013 12:08:36 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Career_CareerCategory]') AND parent_object_id = OBJECT_ID(N'[dbo].[Career]'))
ALTER TABLE [dbo].[Career] DROP CONSTRAINT [FK_Career_CareerCategory]
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategory_DownOrder]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategory_DownOrder]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_CareerCategory_DownOrder]
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategory_Insert]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategory_Insert]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_CareerCategory_Insert]
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategoryForEdit_SelectAll]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategoryForEdit_SelectAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_CareerCategoryForEdit_SelectAll]
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategory_Update]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategory_Update]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_CareerCategory_Update]
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategory_UpOrder]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategory_UpOrder]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_CareerCategory_UpOrder]
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategory_SelectOne]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategory_SelectOne]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_CareerCategory_SelectOne]
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategory_QuickUpdate]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategory_QuickUpdate]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_CareerCategory_QuickUpdate]
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategory_SelectAll]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategory_SelectAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_CareerCategory_SelectAll]
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategoryImage_Delete]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategoryImage_Delete]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_CareerCategoryImage_Delete]
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategorySiteMap_SelectAll]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategorySiteMap_SelectAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_CareerCategorySiteMap_SelectAll]
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategory_Delete]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategory_Delete]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_CareerCategory_Delete]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_ChildCareerCategory_SelectAll]    Script Date: 03/05/2013 12:08:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ufn_ChildCareerCategory_SelectAll]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[ufn_ChildCareerCategory_SelectAll]
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategory_IsChildrenExist]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategory_IsChildrenExist]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_CareerCategory_IsChildrenExist]
GO
/****** Object:  StoredProcedure [dbo].[usp_Career_SelectOne]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Career_SelectOne]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_Career_SelectOne]
GO
/****** Object:  StoredProcedure [dbo].[usp_OlderCareer_SelectAll]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_OlderCareer_SelectAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_OlderCareer_SelectAll]
GO
/****** Object:  StoredProcedure [dbo].[usp_NewerCareer_SelectAll]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_NewerCareer_SelectAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_NewerCareer_SelectAll]
GO
/****** Object:  StoredProcedure [dbo].[usp_SameCareer_SelectAll]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SameCareer_SelectAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_SameCareer_SelectAll]
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerImage_Delete]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerImage_Delete]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_CareerImage_Delete]
GO
/****** Object:  StoredProcedure [dbo].[usp_Career_Update]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Career_Update]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_Career_Update]
GO
/****** Object:  StoredProcedure [dbo].[usp_Career_Insert]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Career_Insert]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_Career_Insert]
GO
/****** Object:  StoredProcedure [dbo].[usp_Career_QuickUpdate]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Career_QuickUpdate]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_Career_QuickUpdate]
GO
/****** Object:  StoredProcedure [dbo].[usp_Career_Delete]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Career_Delete]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_Career_Delete]
GO
/****** Object:  Table [dbo].[Career]    Script Date: 03/05/2013 12:08:36 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Career]') AND type in (N'U'))
DROP TABLE [dbo].[Career]
GO
/****** Object:  Table [dbo].[CareerCategory]    Script Date: 03/05/2013 12:08:36 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CareerCategory]') AND type in (N'U'))
DROP TABLE [dbo].[CareerCategory]
GO
/****** Object:  StoredProcedure [dbo].[usp_Career_SelectAll]    Script Date: 03/05/2013 12:08:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Career_SelectAll]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_Career_SelectAll]
GO
/****** Object:  StoredProcedure [dbo].[usp_Career_SelectAll]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Career_SelectAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'







CREATE procedure [dbo].[usp_Career_SelectAll]
@StartRowIndex int = NULL,
@EndRowIndex int = NULL,
@CareerTitle nvarchar(200) = NULL,
@Description nvarchar(1000) = NULL,
@CareerCategoryID int = NULL,
@Tag nvarchar(200) = NULL,
@IsShowOnHomePage bit = NULL,
@FromDate datetime = NULL,
@ToDate datetime = NULL,
@IsAvailable bit = NULL,
@Priority bit = NULL,
@SortByPriority bit = NULL,
@ErrorCode int = NULL OUTPUT
as

declare @SelectQuery nvarchar(max)
select @SelectQuery = ''SELECT *
FROM (
	SELECT 
		ROW_NUMBER() OVER (ORDER BY '' + case when @SortByPriority = 1 then ''-c.Priority desc, '' else '''' end + '' CreateDate DESC) AS row_number,
		[CareerID],
		c.[ImageName],
		[MetaTittle],
		[MetaDescription],
		[CareerTitle],
		[Description],
		[Content],
		[Tag],
		[MetaTittleEn],
		[MetaDescriptionEn],
		[CareerTitleEn],
		[DescriptionEn],
		[ContentEn],
		[TagEn],
		c.[CareerCategoryID],
		[CreateDate],
		c.[IsShowOnHomePage],
		c.[IsAvailable],
		[CareerCategoryName],
		c.[Priority]
	FROM Career c
	left join CareerCategory cc on cc.CareerCategoryID = c.CareerCategoryID
	where 1=1 ''

if @CareerTitle IS NOT NULL
	set @SelectQuery = @SelectQuery + '' and (CareerTitle like N''''%'' + @CareerTitle + ''%'''' or CareerTitleEn like N''''%'' + @CareerTitle + ''%'''') ''

if @Description IS NOT NULL
	set @SelectQuery = @SelectQuery + '' and (Description like N''''%'' + @Description + ''%'''' or Description like N''''%'' + @Description + ''%'''') ''

if @CareerCategoryID IS NOT NULL
	set @SelectQuery = @SelectQuery + '' and c.CareerCategoryID in (select CareerCategoryID from dbo.[ufn_ChildCareerCategory_SelectAll]('' + str(@CareerCategoryID) + '')) ''

if @Tag IS NOT NULL
	set @SelectQuery = @SelectQuery + '' and Tag like N''''%'' + @Tag + ''%'''' ''

if @IsShowOnHomePage IS NOT NULL
	set @SelectQuery = @SelectQuery + '' and c.IsShowOnHomePage = '' + str(@IsShowOnHomePage)

if @FromDate IS NOT NULL
	set @SelectQuery = @SelectQuery + '' and convert(varchar(8), CreateDate,112) >= '' + convert(varchar(8), @FromDate, 112)

if @ToDate IS NOT NULL
	set @SelectQuery = @SelectQuery + '' and convert(varchar(8), CreateDate,112) <= '' + convert(varchar(8), @ToDate, 112)

if @IsAvailable IS NOT NULL
	set @SelectQuery = @SelectQuery + '' and c.IsAvailable = '' + str(@IsAvailable)

if @Priority IS NOT NULL
	set @SelectQuery = @SelectQuery + '' and '' + case when @Priority = 1 then '' c.Priority is not NULL '' else '' c.Priority is NULL '' end

set @SelectQuery = @SelectQuery + '' ) foo WHERE 1=1 ''

if @StartRowIndex IS NOT NULL
	set @SelectQuery = @SelectQuery + '' and row_number >= '' + str(@StartRowIndex)

if @EndRowIndex IS NOT NULL
	set @SelectQuery = @SelectQuery + '' and row_number <= '' + str(@EndRowIndex)

exec (@SelectQuery)

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR


















' 
END
GO
/****** Object:  Table [dbo].[CareerCategory]    Script Date: 03/05/2013 12:08:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CareerCategory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CareerCategory](
	[CareerCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CareerCategoryName] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CareerCategoryNameEn] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ImageName] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ParentID] [int] NULL,
	[SortOrder] [tinyint] NULL,
	[IsShowOnMenu] [bit] NULL,
	[IsShowOnHomePage] [bit] NULL,
	[IsAvailable] [bit] NULL,
 CONSTRAINT [PK_CareerCategory] PRIMARY KEY CLUSTERED 
(
	[CareerCategoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[CareerCategory] ON
INSERT [dbo].[CareerCategory] ([CareerCategoryID], [CareerCategoryName], [CareerCategoryNameEn], [ImageName], [ParentID], [SortOrder], [IsShowOnMenu], [IsShowOnHomePage], [IsAvailable]) VALUES (1, N'Cưới Hỏi', NULL, NULL, NULL, 1, 1, 1, 1)
INSERT [dbo].[CareerCategory] ([CareerCategoryID], [CareerCategoryName], [CareerCategoryNameEn], [ImageName], [ParentID], [SortOrder], [IsShowOnMenu], [IsShowOnHomePage], [IsAvailable]) VALUES (2, N'Thời Trang', NULL, NULL, NULL, 2, 1, 1, 1)
INSERT [dbo].[CareerCategory] ([CareerCategoryID], [CareerCategoryName], [CareerCategoryNameEn], [ImageName], [ParentID], [SortOrder], [IsShowOnMenu], [IsShowOnHomePage], [IsAvailable]) VALUES (3, N'Sinh Vật Cảnh', NULL, NULL, NULL, 3, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[CareerCategory] OFF
/****** Object:  Table [dbo].[Career]    Script Date: 03/05/2013 12:08:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Career]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Career](
	[CareerID] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MetaTittle] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MetaDescription] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CareerTitle] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Description] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Content] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Tag] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MetaTittleEn] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MetaDescriptionEn] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CareerTitleEn] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DescriptionEn] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ContentEn] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TagEn] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CareerCategoryID] [int] NULL,
	[CreateDate] [datetime] NULL,
	[Priority] [int] NULL,
	[IsShowOnHomePage] [bit] NULL,
	[IsAvailable] [bit] NULL,
 CONSTRAINT [PK_Career] PRIMARY KEY CLUSTERED 
(
	[CareerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[Career] ON
SET IDENTITY_INSERT [dbo].[Career] OFF
/****** Object:  StoredProcedure [dbo].[usp_Career_Delete]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Career_Delete]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE procedure [dbo].[usp_Career_Delete]
@CareerID int = NULL,
@ErrorCode int = NULL OUTPUT
as
delete from Career
where [CareerID] = @CareerID

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR

' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Career_QuickUpdate]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Career_QuickUpdate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'





CREATE procedure [dbo].[usp_Career_QuickUpdate]
@CareerID int = NULL,
@IsShowOnHomePage bit = NULL,
@IsAvailable bit = NULL,
@Priority int = NULL,
@ErrorCode int = NULL OUTPUT
as

update Career set 
	[IsShowOnHomePage] = @IsShowOnHomePage,
	[IsAvailable] = @IsAvailable,
	[Priority] = @Priority
where [CareerID] = @CareerID

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR





' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Career_Insert]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Career_Insert]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'








CREATE procedure [dbo].[usp_Career_Insert]
@ImageName nvarchar(100) = NULL,
@MetaTittle nvarchar(500) = NULL,
@MetaDescription nvarchar(1000) = NULL,
@CareerTitle nvarchar(100) = NULL,
@ConvertedCareerTitle nvarchar(100) = NULL,
@Description nvarchar(1000) = NULL,
@Content nvarchar(MAX) = NULL,
@Tag nvarchar(200) = NULL,
@MetaTittleEn nvarchar(500) = NULL,
@MetaDescriptionEn nvarchar(1000) = NULL,
@CareerTitleEn nvarchar(100) = NULL,
@DescriptionEn nvarchar(256) = NULL,
@ContentEn nvarchar(MAX) = NULL,
@TagEn nvarchar(200) = NULL,
@CareerCategoryID int = NULL,
@IsShowOnHomePage bit = NULL,
@IsAvailable bit = NULL,
@Priority int = NULL,
@OutImageName nvarchar(100) = NULL OUTPUT,
@ErrorCode int = NULL OUTPUT
as
insert into Career(
	[ImageName],
	[MetaTittle],
	[MetaDescription],
	[CareerTitle],
	[Description],
	[Content],
	[Tag],
	[MetaTittleEn],
	[MetaDescriptionEn],
	[CareerTitleEn],
	[DescriptionEn],
	[ContentEn],
	[TagEn],
	[CareerCategoryID],
	[CreateDate],
	[IsShowOnHomePage],
	[IsAvailable],
	[Priority]
) values(
	@ImageName,
	@MetaTittle,
	@MetaDescription,
	@CareerTitle,
	@Description,
	@Content,
	@Tag,
	@MetaTittleEn,
	@MetaDescriptionEn,
	@CareerTitleEn,
	@DescriptionEn,
	@ContentEn,
	@TagEn,
	@CareerCategoryID,
	getdate(),
	@IsShowOnHomePage,
	@IsAvailable,
	@Priority
)

DECLARE @ID int
SELECT @ID = SCOPE_IDENTITY();

if @ImageName IS NOT NULL
begin
	set @ImageName = case when @ConvertedCareerTitle is null then '''' else @ConvertedCareerTitle + ''-'' end + cast(@ID as nvarchar(50)) + substring(@ImageName,len(@ImageName) - CHARINDEX(''.'',reverse(@ImageName)) + 1,len(@ImageName))
	update Career set [ImageName] = @ImageName where CareerID = @ID
	select @OutImageName = @ImageName
end

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR








' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Career_Update]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Career_Update]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'







CREATE procedure [dbo].[usp_Career_Update]
@CareerID int = NULL,
@ImageName nvarchar(100) = NULL,
@MetaTittle nvarchar(500) = NULL,
@MetaDescription nvarchar(1000) = NULL,
@CareerTitle nvarchar(100) = NULL,
@ConvertedCareerTitle nvarchar(100) = NULL,
@Description nvarchar(1000) = NULL,
@Content nvarchar(MAX) = NULL,
@Tag nvarchar(200) = NULL,
@MetaTittleEn nvarchar(500) = NULL,
@MetaDescriptionEn nvarchar(1000) = NULL,
@CareerTitleEn nvarchar(100) = NULL,
@DescriptionEn nvarchar(256) = NULL,
@ContentEn nvarchar(MAX) = NULL,
@TagEn nvarchar(200) = NULL,
@CareerCategoryID int = NULL,
@IsShowOnHomePage bit = NULL,
@IsAvailable bit = NULL,
@Priority int = NULL,
@ErrorCode int = NULL OUTPUT
as
if @ImageName IS NOT NULL
	set @ImageName = case when @ConvertedCareerTitle is null then '''' else @ConvertedCareerTitle + ''-'' end + cast(@CareerID as nvarchar(50)) + substring(@ImageName,len(@ImageName) - CHARINDEX(''.'',reverse(@ImageName)) + 1,len(@ImageName))
else
	select @ImageName = ImageName from Career where CareerID = @CareerID

update Career set 
	[ImageName] = @ImageName,
	[MetaTittle] = @MetaTittle,
	[MetaDescription] = @MetaDescription,
	[CareerTitle] = @CareerTitle,
	[Description] = @Description,
	[Content] = @Content,
	[Tag] = @Tag,
	[MetaTittleEn] = @MetaTittleEn,
	[MetaDescriptionEn] = @MetaDescriptionEn,
	[CareerTitleEn] = @CareerTitleEn,
	[DescriptionEn] = @DescriptionEn,
	[ContentEn] = @ContentEn,
	[TagEn] = @TagEn,
	[CareerCategoryID] = @CareerCategoryID,
	[IsShowOnHomePage] = @IsShowOnHomePage,
	[IsAvailable] = @IsAvailable,
	[Priority] = @Priority
where [CareerID] = @CareerID

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR







' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerImage_Delete]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerImage_Delete]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'





CREATE procedure [dbo].[usp_CareerImage_Delete]
@CareerID int = NULL,
@ErrorCode int = NULL OUTPUT
as
update Career set ImageName = NULL where [CareerID] = @CareerID

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR





' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SameCareer_SelectAll]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_SameCareer_SelectAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'




CREATE procedure [dbo].[usp_SameCareer_SelectAll]
@RerultCount int = NULL,
@CareerID int = NULL,
@ErrorCode int = NULL OUTPUT
as
declare @CareerCategoryID int
select  @CareerCategoryID = CareerCategoryID from Career where CareerID = @CareerID

declare @SelectQuery nvarchar(max)
select @SelectQuery = ''SELECT top '' + str(isnull(@RerultCount, 0))
set @SelectQuery = @SelectQuery + '' [CareerID],
		c.[ImageName],
		[MetaTittle],
		[MetaDescription],
		[CareerTitle],
		[Description],
		[Content],
		[Tag],
		[MetaTittleEn],
		[MetaDescriptionEn],
		[CareerTitleEn],
		[DescriptionEn],
		[ContentEn],
		[TagEn],
		c.[CareerCategoryID],
		[CreateDate],
		c.[IsShowOnHomePage],
		c.[IsAvailable],
		[CareerCategoryName],
		[CareerCategoryNameEn],
		c.[Priority]
	FROM Career c
	left join CareerCategory ac on ac.CareerCategoryID = c.CareerCategoryID
	WHERE c.IsAvailable = 1 ''

if @CareerCategoryID IS NOT NULL
	set @SelectQuery = @SelectQuery + '' and c.CareerCategoryID = '' + str(@CareerCategoryID)

if @CareerID IS NOT NULL
begin
	set @SelectQuery = @SelectQuery + 
		'' and c.CareerID in (SELECT top '' + str(isnull(@RerultCount/2, 0)) + '' CareerID FROM Career WHERE CareerID < '' + str(@CareerID) + '' ''

	if @CareerCategoryID IS NOT NULL
		set @SelectQuery = @SelectQuery + '' and CareerCategoryID = '' + str(@CareerCategoryID)

	set @SelectQuery = @SelectQuery + '' order by CareerID desc) or
			c.CareerID in (SELECT top '' + str(isnull(@RerultCount/2, 0)) + '' CareerID 
				FROM Career 
				WHERE CareerID > '' + str(@CareerID)

	if @CareerCategoryID IS NOT NULL
	set @SelectQuery = @SelectQuery + '' and CareerCategoryID = '' + str(@CareerCategoryID)

end

set @SelectQuery = @SelectQuery + '') ORDER BY c.Priority, CreateDate desc''

exec(@SelectQuery)
-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR



' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_NewerCareer_SelectAll]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_NewerCareer_SelectAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'






create procedure [dbo].[usp_NewerCareer_SelectAll]
@RerultCount int = NULL,
@CareerID int = NULL,
@ErrorCode int = NULL OUTPUT
as
declare @CareerCategoryID int
select  @CareerCategoryID = CareerCategoryID from Career where CareerID = @CareerID

declare @SelectQuery nvarchar(max)
select @SelectQuery = ''SELECT top '' + str(isnull(@RerultCount, 0))
set @SelectQuery = @SelectQuery + '' [CareerID],
		c.[ImageName],
		[MetaTittle],
		[MetaDescription],
		[CareerTitle],
		[Description],
		[Content],
		[Tag],
		[MetaTittleEn],
		[MetaDescriptionEn],
		[CareerTitleEn],
		[DescriptionEn],
		[ContentEn],
		[TagEn],
		c.[CareerCategoryID],
		[CreateDate],
		c.[IsShowOnHomePage],
		c.[IsAvailable],
		[CareerCategoryName],
		[CareerCategoryNameEn],
		c.[Priority]
	FROM Career c
	left join CareerCategory ac on ac.CareerCategoryID = c.CareerCategoryID
	WHERE c.IsAvailable = 1 ''

if @CareerCategoryID IS NOT NULL
	set @SelectQuery = @SelectQuery + '' and c.CareerCategoryID = '' + str(@CareerCategoryID)

if @CareerID IS NOT NULL
begin
	set @SelectQuery = @SelectQuery + 
		'' and c.CareerID in (SELECT top '' + str(isnull(@RerultCount, 0)) + '' CareerID 
			FROM Career 
			WHERE CareerID > '' + str(@CareerID)

if @CareerCategoryID IS NOT NULL
	set @SelectQuery = @SelectQuery + '' and CareerCategoryID = '' + str(@CareerCategoryID)

end

set @SelectQuery = @SelectQuery + '') ORDER BY - c.Priority desc, CreateDate desc''

exec(@SelectQuery)
-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR





' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_OlderCareer_SelectAll]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_OlderCareer_SelectAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'






create procedure [dbo].[usp_OlderCareer_SelectAll]
@RerultCount int = NULL,
@CareerID int = NULL,
@ErrorCode int = NULL OUTPUT
as
declare @CareerCategoryID int
select  @CareerCategoryID = CareerCategoryID from Career where CareerID = @CareerID

declare @SelectQuery nvarchar(max)
select @SelectQuery = ''SELECT top '' + str(isnull(@RerultCount, 0))
set @SelectQuery = @SelectQuery + '' [CareerID],
		c.[ImageName],
		[MetaTittle],
		[MetaDescription],
		[CareerTitle],
		[Description],
		[Content],
		[Tag],
		[MetaTittleEn],
		[MetaDescriptionEn],
		[CareerTitleEn],
		[DescriptionEn],
		[ContentEn],
		[TagEn],
		c.[CareerCategoryID],
		[CreateDate],
		c.[IsShowOnHomePage],
		c.[IsAvailable],
		[CareerCategoryName],
		[CareerCategoryNameEn],
		c.[Priority]
	FROM Career c
	left join CareerCategory ac on ac.CareerCategoryID = c.CareerCategoryID
	WHERE c.IsAvailable = 1 ''

if @CareerCategoryID IS NOT NULL
	set @SelectQuery = @SelectQuery + '' and c.CareerCategoryID = '' + str(@CareerCategoryID)

if @CareerID IS NOT NULL
begin
	set @SelectQuery = @SelectQuery + 
		'' and c.CareerID in (SELECT top '' + str(isnull(@RerultCount, 0)) + '' CareerID FROM Career WHERE CareerID < '' + str(@CareerID) + '' ''

if @CareerCategoryID IS NOT NULL
	set @SelectQuery = @SelectQuery + '' and CareerCategoryID = '' + str(@CareerCategoryID)

end

set @SelectQuery = @SelectQuery + '' order by - Priority desc, CareerID desc) ORDER BY - c.Priority desc, CreateDate desc''

exec(@SelectQuery)
-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR





' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Career_SelectOne]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Career_SelectOne]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'








CREATE procedure [dbo].[usp_Career_SelectOne]
@CareerID int = NULL,
@ErrorCode int = NULL OUTPUT
as
select 
	[CareerID],
		c.[ImageName],
		[MetaTittle],
		[MetaDescription],
		[CareerTitle],
		[Content],
		[Description],
		[Tag],
		[MetaTittleEn],
		[MetaDescriptionEn],
		[CareerTitleEn],
		[DescriptionEn],
		[ContentEn],
		[TagEn],
		c.[CareerCategoryID],
		[CreateDate],
		c.[IsShowOnHomePage],
		c.[IsAvailable],
		[CareerCategoryName],
		[CareerCategoryNameEn],
		c.[Priority]
FROM Career c
left join CareerCategory ac on ac.CareerCategoryID = c.CareerCategoryID
where c.[CareerID] = @CareerID

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR








' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategory_IsChildrenExist]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategory_IsChildrenExist]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE procedure [dbo].[usp_CareerCategory_IsChildrenExist]
@CareerCategoryID int = NULL,
@ErrorCode int = NULL OUTPUT
as
declare @exist bit
select @exist = 1 from CareerCategory where ParentID = @CareerCategoryID

if @exist is null
	select @exist = 1 from Career where CareerCategoryID = @CareerCategoryID

select cast(isnull(@exist,0) as bit)

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR


' 
END
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_ChildCareerCategory_SelectAll]    Script Date: 03/05/2013 12:08:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ufn_ChildCareerCategory_SelectAll]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'



create FUNCTION [dbo].[ufn_ChildCareerCategory_SelectAll] (
@RootCareerCategoryID int
)
RETURNS @Reached TABLE(CareerCategoryID int)
AS
BEGIN
	insert into @Reached values (@RootCareerCategoryID)
	while ( @@rowcount > 0 ) 
	begin
		insert into @Reached (CareerCategoryID) 
		select distinct p.CareerCategoryID
		from CareerCategory p inner join @Reached r on r.CareerCategoryID = p.ParentID
		where p.CareerCategoryID not in (select CareerCategoryID from @Reached)
	end
	return
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategory_Delete]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategory_Delete]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE procedure [dbo].[usp_CareerCategory_Delete]
@CareerCategoryID int = NULL,
@ErrorCode int = NULL OUTPUT
as
delete from CareerCategory
where [CareerCategoryID] = @CareerCategoryID

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR

' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategorySiteMap_SelectAll]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategorySiteMap_SelectAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE proc [dbo].[usp_CareerCategorySiteMap_SelectAll]
@CurrentCareerCategoryID int,
@ErrorCode int = NULL OUTPUT
AS
declare @Reached table(CareerCategoryID int, ParentID int, CareerCategoryName nvarchar(200))

--find parent nodes
DECLARE @parentID int
declare @ParentIDTemp int
declare @CareerCategoryName nvarchar(200)

SELECT @parentID = parentID, @CareerCategoryName = CareerCategoryName
FROM CareerCategory
WHERE CareerCategoryID = @CurrentCareerCategoryID

insert into @Reached values (@CurrentCareerCategoryID, @parentID, @CareerCategoryName)

WHILE @parentID is not NULL
BEGIN
	select @ParentIDTemp = parentID, @CareerCategoryName = CareerCategoryName
	FROM CareerCategory
	WHERE CareerCategoryID = @parentID

	insert into @Reached values(@parentID, @ParentIDTemp, @CareerCategoryName)

	SELECT @CurrentCareerCategoryID = @parentID

	SELECT @parentID = parentID
	FROM CareerCategory
	WHERE CareerCategoryID = @CurrentCareerCategoryID
END

select * from @Reached order by ParentID

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR

' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategoryImage_Delete]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategoryImage_Delete]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'




CREATE procedure [dbo].[usp_CareerCategoryImage_Delete]
@CareerCategoryID int = NULL,
@ErrorCode int = NULL OUTPUT
as
update CareerCategory set ImageName = NULL where [CareerCategoryID] = @CareerCategoryID

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR




' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategory_SelectAll]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategory_SelectAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'











CREATE procedure [dbo].[usp_CareerCategory_SelectAll] 
@ErrorCode int = NULL OUTPUT
as
select 
	[CareerCategoryID],
	[CareerCategoryName],
	[CareerCategoryNameEn],
	[ImageName],
	isnull([ParentID], 0) ParentID,
	(select top 1 CareerCategoryName from CareerCategory b where b.CareerCategoryID = a.ParentID) ParentCategoryName,
	[SortOrder],
	[IsShowOnMenu],
	[IsShowOnHomePage],
	[IsAvailable]
from CareerCategory a
order by ParentID, SortOrder

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR











' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategory_QuickUpdate]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategory_QuickUpdate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE procedure [dbo].[usp_CareerCategory_QuickUpdate]
@CareerCategoryID int = NULL,
@IsShowOnMenu bit = NULL,
@IsShowOnHomePage bit = NULL,
@IsAvailable bit = NULL,
@ErrorCode int = NULL OUTPUT
as
update CareerCategory set 
	[IsShowOnMenu] = @IsShowOnMenu,
	[IsShowOnHomePage] = @IsShowOnHomePage,
	[IsAvailable] = @IsAvailable
where [CareerCategoryID] = @CareerCategoryID

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR


' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategory_SelectOne]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategory_SelectOne]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'






CREATE procedure [dbo].[usp_CareerCategory_SelectOne]
@CareerCategoryID int = NULL,
@ErrorCode int = NULL OUTPUT
as
select 
	[CareerCategoryID],
	[CareerCategoryName],
	[CareerCategoryNameEn],
	[ImageName],
	[ParentID],
	[SortOrder],
	[IsShowOnMenu],
	[IsShowOnHomePage],
	[IsAvailable]
from CareerCategory
where [CareerCategoryID] = @CareerCategoryID

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR






' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategory_UpOrder]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategory_UpOrder]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE procedure [dbo].[usp_CareerCategory_UpOrder]
@CareerCategoryID int = NULL,
@ErrorCode int = NULL OUTPUT
as
declare @ParentID int
declare @CurrentSortOrder tinyint
declare @PrevSortOrder tinyint
declare @PrevCareerCategoryID int

select @ParentID = ParentID, 
	@CurrentSortOrder = SortOrder
from CareerCategory where 
CareerCategoryID = @CareerCategoryID

if @ParentID is not null
begin
	select @PrevSortOrder = MAX(SortOrder) 
	from CareerCategory 
	where SortOrder < @CurrentSortOrder and ParentID = @ParentID
	
	select @PrevCareerCategoryID = CareerCategoryID
	from CareerCategory 
	where SortOrder = @PrevSortOrder and ParentID = @ParentID
end
else
begin
	select @PrevSortOrder = MAX(SortOrder) 
	from CareerCategory 
	where SortOrder < @CurrentSortOrder and ParentID is null

	select @PrevCareerCategoryID = CareerCategoryID
	from CareerCategory 
	where SortOrder = @PrevSortOrder and ParentID is null
end

if @CurrentSortOrder <> 1
	set @CurrentSortOrder = @CurrentSortOrder - 1

set @PrevSortOrder = @PrevSortOrder + 1

update CareerCategory 
set [SortOrder] = @CurrentSortOrder
where [CareerCategoryID] = @CareerCategoryID

update CareerCategory 
set [SortOrder] = @PrevSortOrder
where [CareerCategoryID] = @PrevCareerCategoryID

--print @ParentID
--print @CurrentSortOrder
--print @PrevSortOrder
--print @CareerCategoryID
--print @PrevCareerCategoryID

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR

' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategory_Update]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategory_Update]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'









CREATE procedure [dbo].[usp_CareerCategory_Update]
@CareerCategoryID int = NULL,
@CareerCategoryName nvarchar(100) = NULL,
@CareerCategoryNameEn nvarchar(100) = NULL,
@ConvertedCareerCategoryName nvarchar(100) = NULL,
@ImageName nvarchar(100) = NULL,
@ParentID int = NULL,
@IsShowOnMenu bit = NULL,
@IsShowOnHomePage bit = NULL,
@IsAvailable bit = NULL,
@ErrorCode int = NULL OUTPUT
as
declare @OldParentID int
declare @SortOrder tinyint
declare @OldImageName nvarchar(100)

select @ParentID = isnull(@ParentID,0)
select @OldParentID = isnull(ParentID, 0), @OldImageName = ImageName from CareerCategory where CareerCategoryID = @CareerCategoryID

if @OldParentID <> @ParentID
begin
	if @ParentID  <> 0
		select @SortOrder = MAX(SortOrder) from CareerCategory where ParentID = @ParentID
	else
		select @SortOrder = MAX(SortOrder) from CareerCategory where ParentID is null
	
	if @SortOrder is null
		set @SortOrder = 1
	else
		set @SortOrder = @SortOrder + 1
end
else
	select @SortOrder = SortOrder from CareerCategory where CareerCategoryID = @CareerCategoryID

if @ImageName IS NOT NULL
	set @ImageName = case when @ConvertedCareerCategoryName is null then '''' else @ConvertedCareerCategoryName + ''-'' end + cast(@CareerCategoryID as nvarchar(50)) + substring(@ImageName,len(@ImageName) - CHARINDEX(''.'',reverse(@ImageName)) + 1,len(@ImageName))
else
	select @ImageName = ImageName from CareerCategory where CareerCategoryID = @CareerCategoryID

update CareerCategory set 
	[CareerCategoryName] = @CareerCategoryName,
	[CareerCategoryNameEn] = @CareerCategoryNameEn,
	[ImageName] = @ImageName,
	[ParentID] = case when @ParentID = 0 then NULL else @ParentID end,
	[SortOrder] = @SortOrder,
	[IsShowOnMenu] = @IsShowOnMenu,
	[IsShowOnHomePage] = @IsShowOnHomePage,
	[IsAvailable] = @IsAvailable
where [CareerCategoryID] = @CareerCategoryID

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR









' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategoryForEdit_SelectAll]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategoryForEdit_SelectAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'





CREATE procedure [dbo].[usp_CareerCategoryForEdit_SelectAll]
@CareerCategoryID int = NULL,
@ErrorCode int = NULL OUTPUT
as
select 
	[CareerCategoryID],
	[CareerCategoryName],
	[CareerCategoryNameEn],
	isnull([ParentID], 0) ParentID,
	(select top 1 CareerCategoryName from CareerCategory b where b.CareerCategoryID = a.ParentID) ParentCategoryName,
	[SortOrder],
	[IsAvailable]
from CareerCategory a
where [CareerCategoryID] <> @CareerCategoryID
order by [SortOrder]

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR





' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategory_Insert]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategory_Insert]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'








CREATE procedure [dbo].[usp_CareerCategory_Insert]
@CareerCategoryName nvarchar(100) = NULL,
@CareerCategoryNameEn nvarchar(100) = NULL,
@ConvertedCareerCategoryName nvarchar(100) = NULL,
@ImageName nvarchar(100) = NULL,
@ParentID int = NULL,
@IsShowOnMenu bit = NULL,
@IsShowOnHomePage bit = NULL,
@IsAvailable bit = NULL,
@OutImageName nvarchar(100) = NULL OUTPUT,
@ErrorCode int = NULL OUTPUT
as
declare @SortOrder tinyint

if @ParentID is not null
	select @SortOrder = MAX(SortOrder) from CareerCategory where ParentID = @ParentID
else
	select @SortOrder = MAX(SortOrder) from CareerCategory where ParentID is null

if @SortOrder is null
	set @SortOrder = 1
else
	set @SortOrder = @SortOrder + 1

insert into CareerCategory(
	[CareerCategoryName],
	[CareerCategoryNameEn],
	[ImageName],
	[ParentID],
	[SortOrder],
	[IsShowOnMenu],
	[IsShowOnHomePage],
	[IsAvailable]
) values(
	@CareerCategoryName,
	@CareerCategoryNameEn,
	@ImageName,
	@ParentID,
	@SortOrder,
	@IsShowOnMenu,
	@IsShowOnHomePage,
	@IsAvailable
)

DECLARE @ID int
SELECT @ID = SCOPE_IDENTITY();

if @ImageName IS NOT NULL
begin
	set @ImageName = case when @ConvertedCareerCategoryName is null then '''' else @ConvertedCareerCategoryName + ''-'' end + cast(@ID as nvarchar(50)) + substring(@ImageName,len(@ImageName) - CHARINDEX(''.'',reverse(@ImageName)) + 1,len(@ImageName))
	update CareerCategory set [ImageName] = @ImageName where CareerCategoryID = @ID
	select @OutImageName = @ImageName
end

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR







' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CareerCategory_DownOrder]    Script Date: 03/05/2013 12:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CareerCategory_DownOrder]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE procedure [dbo].[usp_CareerCategory_DownOrder]
@CareerCategoryID int = NULL,
@ErrorCode int = NULL OUTPUT
as
declare @ParentID int
declare @CurrentSortOrder tinyint
declare @NextSortOrder tinyint
declare @MaxSortOrder tinyint
declare @NextCareerCategoryID int

select @ParentID = ParentID, 
	@CurrentSortOrder = SortOrder
from CareerCategory where 
CareerCategoryID = @CareerCategoryID

if @ParentID is not null
begin
	select @MaxSortOrder = count(1)
	from CareerCategory where 
	ParentID = @ParentID
	
	select @NextSortOrder = MIN(SortOrder) 
	from CareerCategory 
	where SortOrder > @CurrentSortOrder and ParentID = @ParentID

	select @NextCareerCategoryID = CareerCategoryID
	from CareerCategory 
	where SortOrder = @NextSortOrder and ParentID = @ParentID
end
else
begin
	select @MaxSortOrder = count(1)
	from CareerCategory where 
	ParentID is null
	
	select @NextSortOrder = MIN(SortOrder) 
	from CareerCategory 
	where SortOrder > @CurrentSortOrder and ParentID is null
	
	select @NextCareerCategoryID = CareerCategoryID
	from CareerCategory 
	where SortOrder = @NextSortOrder and ParentID is null
end


if @CurrentSortOrder <> @MaxSortOrder
	set @CurrentSortOrder = @CurrentSortOrder + 1

set @NextSortOrder = @NextSortOrder - 1

update CareerCategory 
set [SortOrder] = @CurrentSortOrder
where [CareerCategoryID] = @CareerCategoryID

update CareerCategory 
set [SortOrder] = @NextSortOrder
where [CareerCategoryID] = @NextCareerCategoryID

-- Get the Error Code for the statement just executed.
SELECT @ErrorCode=@@ERROR

' 
END
GO
/****** Object:  ForeignKey [FK_Career_CareerCategory]    Script Date: 03/05/2013 12:08:36 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Career_CareerCategory]') AND parent_object_id = OBJECT_ID(N'[dbo].[Career]'))
ALTER TABLE [dbo].[Career]  WITH CHECK ADD  CONSTRAINT [FK_Career_CareerCategory] FOREIGN KEY([CareerCategoryID])
REFERENCES [dbo].[CareerCategory] ([CareerCategoryID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Career_CareerCategory]') AND parent_object_id = OBJECT_ID(N'[dbo].[Career]'))
ALTER TABLE [dbo].[Career] CHECK CONSTRAINT [FK_Career_CareerCategory]
GO
